body{
  background-color: #130826;
  background-size: 100%;
  background-position: center;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  height: 100vh;
  font-family: "Lato", sans-serif;
}

/* NAVBAR */

.nav-item {
  font-family: "Lato", sans-serif;
  font-size: large;
}



/* SECTION CARD */
section {
  padding-top: 100px;
}

.cardtn {
  perspective: 1000px;
  transform-style: preserve-3d;
}

.card-itemtn {
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.002);
  transition: transform 0.2s linear;
}

.h3-header{
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-size: 28px;
}

.h2-header {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 40px;
  color: white;
}

@media (max-width: 768px) {
  .h2-header {
    font-size: 28px;
  }
  .h3-header{
    color: #ffffff;
    font-family: "Raleway", sans-serif;
    font-size: 24px;
  }
}

/* MAIN, QUE ES? */
.containerquees {
  text-align: center;
}

.titlequees {
  position: relative;
  display: inline-block;
  padding: 0 20px; /* Ajusta el espacio entre el título y los pseudo-elementos */
}

.titlequees::before,
.titlequees::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 50px;
  height: 2.5px;
  background-color: #1FE8B8;
}

.titlequees::before {
  left: -40px;
}

.titlequees::after {
  right: -40px;
}
.h2-main {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 40px;
  color: white;
  text-transform: uppercase;
}
@media (max-width: 768px) {
  .h2-main {
    font-size: 28px;
  }
}

p{
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: white;
}

ul li{
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: white;
  list-style: none;
}
.ri-check-double-fill {
  color: #1FE8B8; /* Cambia el color a tu elección */
 font-size: 20px;
}
.quees {
  text-align: center;
}
ul.list-unstyled {
  padding-left: 0;
}

ul.list-unstyled li {
  display: flex;
  align-items: center;
}

ul.list-unstyled li i {
  margin-right: 10px;
}
/* CARACTERISTICAS */

.card-custom {
  position: relative;
  background-color: #fff;
  border-radius: 8px;
  transition: background-color 0.3s, color 0.3s;
  overflow: hidden;
}

.card-custom:hover {
  background-color: #1FE8B8;
  color: #fff;
}

.card-custom-body {
  padding: 20px;
}

.icon-custom {
  position: relative;
  font-size: 60px;
  margin-bottom: 10px;
  text-align: center;
  z-index: 2;
}
.icon-custom i {
  position: relative;
  z-index: 3; /* Asegura que el icono esté por encima del círculo */
  color: #000000; /* Asegura que el color del icono sea blanco */
}

.icon-custom::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #1FE8B8;
  transition: background-color 0.3s;
  z-index: 1;
}

.card-custom:hover .icon-custom::before {
  background-color: #fff;
}

.titlecard-custom {
  font-size: 30px;
  margin-bottom: 10px;
  color: #000000;
}

.descriptioncard-custom {
  font-size: 20px;
  color: #484848;
}

/* COMO FUNCIONA */

.fun{
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
  margin: 0 0 10px 2px;
  font-family: "Poppins", sans-serif;
  color: white;
}

.ri-question-line {
  color: #1FE8B8; /* Cambia el color a tu elección */
  font-size: 25px;
  vertical-align: middle;
  margin-right: 10px;
  margin-bottom: 6px;
}
.func{
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
}
.linee{
  border-bottom: 1px solid #97e0cf4f;
}
.psub{
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
}

/* BENEFICIOS */
.count-box {
  position: relative;
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
  padding: 20px;
}

.count-box i {
  color: #1FE8B8; /* Cambia el color a tu elección */
  font-size: 25px;
  margin-right: 10px;
  margin-top: 4px;
}

.count-box .purecounter {
  font-size: 22px;
  font-weight: 700;
  line-height: 30px;
  margin-top: 0;
  margin-bottom: 5px;
}

.count-box p {
  font-family: "Open Sans", sans-serif;
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 17px;
}

/* FOTOS */

.img-thumbnail {
  border-color: #1FE8B8 !important; /* Cambia el color del borde aquí */
}

/* form */
  .form-control::-webkit-input-placeholder { /* WebKit/Blink browsers */
    color: #ffffff;
  }
  .form-control::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #ffffff;
  }
  .form-control:-ms-input-placeholder { /* Microsoft Edge */
    color: #ffffff;
  }
  .form-control:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #ffffff;
  }
  i {
  color: #1FE8B8;
  }
  .contact{
  color: #1FE8B8;
    font-family: "Poppins", sans-serif;

  }



