.card-container {
    max-width: 40%; /* Ajusta el tamaño deseado */
}

body {
    background-image: url("../img/fondofooter.jpg");
    background-size: cover;
    background-position: center;
    color: white;
}



.cardtn {
    perspective: 1000px;
    transform-style: preserve-3d;
}

.card-itemtn {
    box-shadow: 0 1rem 3rem rgba(0,0,0,.002);
    transition: transform .20s linear;
}

h1 {
    font-size: 10vw;
}

p {
    font-size: 2vw;
}

h2 {
    font-size: 4vw;
}

h3 {
    font-size: 3vw;
}

/* Media Query para pantallas grandes (lg) */
@media screen and (min-width: 992px) {
    h1 {
        font-size: 4vw; /* Ajusta el tamaño deseado para pantallas grandes */
    }

    p {
        font-size: 1.5vw; /* Ajusta el tamaño deseado para pantallas grandes */
    }

    h2 {
        font-size: 2.5vw; /* Ajusta el tamaño deseado para pantallas grandes */
    }

    h3 {
        font-size: 2vw; /* Ajusta el tamaño deseado para pantallas grandes */
    }
}

.this {
    font-family: 'Asap', sans-serif;
    letter-spacing: 0.15em;
  }
  .night {
    font-family: 'Asap', sans-serif;
    letter-spacing: 0.15em; /* Ajusta el valor según lo deseado */
    font-weight: 550; /* Puedes ajustar el valor según lo deseado (por ejemplo, '600' o '700') */
  }
  .videoexplicativo {
    position: relative;
    padding-bottom: 56.25%; /* Establece una relación de aspecto 16:9 (para un video de ancho fijo) */
    height: 0;
    overflow: hidden;
}

.videoexplicativo video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.moneda {
    height: 100%;
}

